version: '3.8'
services:
  db:
   image: postgres:latest
   container_name: db
   env_file:
    - .env
   environment:
    POSTGRES_USER: ${DB_USER}
    POSTGRES_PASSWORD: ${DB_PASSWORD}
    POSTGRES_DB: ${DB_NAME}   
   volumes:
    - ./backend/database/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    - postgres_data:/var/lib/postgresql
   ports:
    - "5432:5432"
   networks:
    - inventory
   healthcheck:
    test: ["CMD-SHELL", "pg_isready -h localhost -p 5432 -U ${DB_USER} -d ${DB_NAME}"]
    interval: 10s
    timeout: 5s
    retries: 5
  backend:
     container_name: backend
     build:
       context: ./backend
     depends_on:
       - db
     ports:
       - "5000:5000"
     networks:
       - inventory
     environment:
       DB_HOST: ${DB_HOST}
       DB_PORT: ${DB_PORT}
       DB_NAME: ${DB_NAME}
       DB_USER: ${DB_USER}
       DB_PASSWORD: ${DB_PASSWORD}
  frontend:
      container_name: frontend
      build:
        context: ./frontend
      env_file:
       - ./frontend/.env
      depends_on:
        - backend
      ports:
        - "3000:3000"
      networks:
        - inventory
volumes:
   postgres_data:
networks:
   inventory:
